#search {
  padding: 1.25em;
}

.MuiMenu-list {
  display: flex;
  flex-direction: column;
}

.MuiListItem-gutters {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

#overview, #qanda {
  border-bottom: 1px solid #333;
  padding: 1.5em 0;
}